.feed {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem 3rem;
    max-width: 50rem;
}

.feed-header__title {
    font-family: 'Space Mono';
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.post {
    padding: .75rem;
    background-color: #f6f6f6;
    border: 1px solid rgb(203, 203, 203);
    display: flex;
    align-items: center;
    margin: 1rem 0;
    width: 100%;
    font-size: 1.1rem;
    border-radius: 10px;

    &__link {
        text-decoration: none;
        color: black;
    }

    &__user {
        width: 50px;
        height: 50px;
        align-self: flex-start;

        &-image {
            height: 40px;
            border-radius: 50%;
            border: 1px solid rgb(203, 203, 203);
        }
    }

    &__info {
        padding: 0 .5rem;
        width: 100%;
        &-date {
            width: 20%;
            text-align: right;
            letter-spacing: -.05ch;
            font-size: .75rem;
            font-family: 'Space Mono';
            color: rgb(131, 131, 131);
            align-self: flex-start;
        }

        &-top {
            display: flex;
            justify-content: space-between;
        }

        &--special {
            font-family: 'Space Mono';
            font-weight: 600;
            color: black;
            letter-spacing: -.1ch;
            font-size: 1rem;
        }

        &--italic {
            font-style: italic;
            font-weight: 600;
        }
    }

    &__review {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        .feed-review {
            display: flex;
            margin: .75rem 0;

            &__show-image {
                width: 11rem;
            }

            &show__title {
                width: 11rem;
            }
            
            &__container {
                display: flex;
                flex-direction: column;
                text-align: right;
                width: 12rem;
                padding: 0 .5rem;
                margin-right: 1rem;
            }

            &__review {
                padding: 0 1rem;
                height: 100%;
                border-left: 1px solid rgb(0, 0, 0);
            }
        }
        
    }
}