@font-face {
    font-family: 'Space Mono';
    src: url('../assets/fonts/SpaceMono-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Space Mono';
    src: url('../assets/fonts/SpaceMono-Italic.ttf') format('ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Space Mono';
    src: url('../assets/fonts/SpaceMono-Bold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Space Mono';
    src: url('../assets/fonts/SpaceMono-BoldItalic.ttf') format('ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Cardo';
    src: url('../assets/fonts/Poppins-Light.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cardo';
    src: url('../assets/fonts/Cardo-Bold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cardo';
    src: url('../assets/fonts/Cardo-Italic.ttf') format('ttf');
    font-weight: 400;
    font-style: italic;
}