@use '../../styles/partials/global.scss' as *;
@use '../../styles/partials/typography.scss' as *;

.nav {
    width: 19%;
    margin-right: 3rem;
    margin-top: 2rem;
}
.search {
    font-family: 'Roboto Mono';
    font-weight: 300;
    border-radius: 10px;
    width: 16rem;
    padding: .5rem 1rem;
    border: 1px solid rgb(0, 0, 0);
    background-color: #fed9d9;
    
    &::placeholder {
        color: rgb(0, 0, 0);
    }
}

.profile-widget {
    width: 16rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 3rem 0;

    &__avatar {
        border-radius: 50%;
        width: 40px;

    }

    &-info {
        margin: 0 1rem;

        &__name {
            font-family: 'Roboto Mono';
            font-weight: 400;
            color: rgb(0, 0, 0);
        }
    }

    &__info {
        display: flex;
        align-items: center;
        padding-bottom: .5rem;
        border-bottom: 1px solid black;

        &-user {
            padding: 0 1rem;
        }
    }

}

.user-nav {

    &__friend {
        padding: .25rem 1.5rem;
    }

    &__link {
        text-decoration: none;
        color: black;

        &:hover {
            color: red;
        }
    }
}

.user-nav__dropdown {
    padding: .5rem 0;
    display: flex;
    justify-content: flex-start;
}