@use '../../styles/partials/global.scss' as *;
@use '../../styles/partials/typography.scss' as *;

.nav {
    width: 20%;
    margin-right: 3rem;
    margin-top: 2rem;
}
.search {
    font-family: 'Space Mono';
    border-radius: 10px;
    width: 18rem;
    padding: .5rem 1rem;
    margin-bottom: 2rem;
    border: 1px solid black;
    
    &:placeholder {
        color: grey;
    }
}

.profile-widget {
    width: 18rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

    &__avatar {
        box-shadow: 0px 0px 7.5px rgb(182, 188, 195);
        border-radius: 50%;
        width: 50px;

    }

    &-info {
        margin: 0 1rem;

        &__name {
            font-family: 'Space Mono';
            color: red;
        }
    }

    &__info {
        display: flex;
        align-items: center;

        &-user {
            padding: 0 1rem;
        }
    }

}